<div class="p-2 bg-zinc-400 h-[400px] w-[560px] font-mono flex flex-col space-y-1">
    <pre class="self-center">
                __                  ____  _____
        ____   / /_   ____ _ _____ / __ \/ ___/
       / __ \ / __ \ / __ `// ___// / / /\__ \ 
      / /_/ // / / // /_/ // /   / /_/ /___/ / 
     / .___//_/ /_/ \__,_//_/    \____//____/  
    /_/                                        
    </pre>

    <div>
        Designed by Union Navy / Union Bureau of Orbital and Non-Terrestrial Management.
        <br>
        Classification: FALSE RATIO
    </div>

    <div>
        License No: UNV-AUX-3c97734c-eccf-4ef7
        <br>
        License POC: Acting Line Commander Ramos deTora
    </div>
                    
    <div class="text-sm">
        Use of pharOS is restricted to authorized users only. Unauthorized dissemination of intel from pharOS may lead to temporary or permanent loss of access.
    </div>
    
    <div class="text-xs">
        v1.0.2
    </div>
</div>