<div class="flex flex-row">
    <div class="flex flex-col space-y-4 items-center bg-zinc-900 border border-r-1 border-l-0 border-y-0 border-slate-200 max-w-min px-2 pt-2">
        <button mat-icon-button matTooltip="System Information" (click)="displayInfo()" class="{{tabIdx==0 && isExpanded ? '!text-[#08d2d2] !bg-[#1e3f3f]': '!text-slate-200'}} sidebar-pharos-buttons flex flex-col">
            <mat-icon matListItemIcon class="self-center">info</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Factions" (click)="displayFactions()" class="{{tabIdx==1 && isExpanded ? '!text-[#08d2d2] !bg-[#1e3f3f]': '!text-slate-200'}} sidebar-pharos-buttons flex flex-col">
            <mat-icon matListItemIcon class="self-center">flag</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Landmarks" (click)="displayLandmarks()" class="{{tabIdx==2 && isExpanded ? '!text-[#08d2d2] !bg-[#1e3f3f]': '!text-slate-200'}} fill-none sidebar-pharos-buttons flex flex-col">
            <mat-icon matListItemIcon class="self-center" svgIcon="station"></mat-icon>
        </button>

        <button mat-icon-button matTooltip="Vessels" (click)="displayVessels()" class="{{tabIdx==3 && isExpanded ? '!text-[#08d2d2] !bg-[#1e3f3f]': '!text-slate-200'}} sidebar-pharos-buttons flex flex-col">
            <mat-icon matListItemIcon class="self-center">rocket_launch</mat-icon>
        </button>
        
        
    </div>

    <mat-drawer-container mode="over" hasBackdrop="false" autosize="true" class="w-full">
        <mat-drawer #drawer [opened]="isExpanded" class="!bg-zinc-900 header-less-tabs">
                <mat-tab-group [(selectedIndex)]="tabIdx">
                    <mat-tab [tabIndex]="0">
                        <div class="px-4 text-slate-400 flex flex-col text-lg space-y-1 overflow-hidden">
                            <div class="text-slate-200">
                                KHAYRADIN
                            </div>
                            <div>
                                KHAYRADIN//APHERION-3
                            </div>
                            
                            <hr>
                            <div class="place-self-center">
                                <mat-chip-set>
                                    <mat-chip class="!bg-white !text-white">Contested Space</mat-chip>
                                </mat-chip-set>
                            </div>
                            <div>
                                Registered Vessels
                            </div>
                            <hr>
                            <div>
                                <div class="text-xs text-slate-200">
                                    Information
                                </div>
                                <div>
                                    Khayradin is one of the largest known worlds suitable for human life, with a population of over 50 billion between its surface, orbital stations, and
                                    moons. Previously under House of Stone control, the system erupted into conflict after the Uinta Station Incident, as well as the outbreak of hostilities
                                    in orbit around Free Sanjak. With Uinta Station out of commission, and a Union Relief Fleet years away, the future of this theatre is unknown.
                                </div>
                            </div>
                            
                        </div>
                    </mat-tab>

                    <mat-tab [tabIndex]="1">
                        <div class="text-slate-400 px-4 text-lg">
                            Factions
                        </div>

                        <hr>

                        <div class="px-4 pt-4 text-white flex flex-col space-y-2">
                            <div class="flex flex-row items-center space-x-2">
                                <mat-icon matListItemIcon class="self-center !h-8 !w-8 text-red-500" svgIcon="union"></mat-icon>
                                <div>
                                    Union Navy
                                </div>
                            </div>

                            <div class="flex flex-row items-center space-x-2">
                                <mat-icon matListItemIcon class="self-center !h-8 !w-8 text-cyan-400" svgIcon="albatross"></mat-icon>
                                <div>
                                    Albatross
                                </div>
                            </div>

                            <div class="flex flex-row items-center space-x-2">
                                <mat-icon matListItemIcon class="self-center !h-8 !w-8 text-purple-400" svgIcon="barony"></mat-icon>
                                <div>
                                    Baronic Unified Command
                                </div>
                            </div>

                            <div class="flex flex-row items-center space-x-2">
                                <mat-icon matListItemIcon class="self-center !h-8 !w-8 text-yellow-400" svgIcon="ssc"></mat-icon>
                                <div>
                                    Smith-Shimano Corpro
                                </div>
                            </div>

                            <div class="flex flex-row items-center space-x-2">
                                <mat-icon matListItemIcon class="self-center !h-8 !w-8 text-orange-400" svgIcon="spear"></mat-icon>
                                <div>
                                    Children Of Tyrannus
                                </div>
                            </div>

                        </div>


                    </mat-tab>

                    <mat-tab [tabIndex]="2">
                    
                        <ng-container *ngIf="!activeLandmark; else landmarkDetails">
                            <div class="text-slate-400 px-4 text-lg">
                                Landmarks
                            </div>
        
                            <hr>
                        </ng-container>

                        <ng-template #landmarkDetails>
                            <div class="pl-2 flex flex-col overflow-hidden">
                                <div class="flex flex-row">
                                    <div class="self-center pr-3 pt-2">
                                        <mat-icon matListItemIcon [svgIcon]="getActiveLandmarkIcon()" class="!fill-slate-200 scale-[200%]">
                                        </mat-icon>
                                    </div>
                                    
                                    <div class="pt-2">
                                        <div class="text-slate-200">
                                            {{activeLandmark?.name}}
                                        </div>
                                        <div class="text-slate-400">
                                            {{activeLandmark?.class}}
                                        </div>
                                    </div>
                        
                                </div>
                                
                                <hr>

                                <div class="text-slate-200 text-sm">
                                    {{activeLandmark?.description}}
                                </div>

                            </div>
                        </ng-template>


                        
                    </mat-tab>

                    <mat-tab [tabIndex]="3">

                        <ng-container *ngIf="!activeShip; else shipDetails">
                            <div class="m-2">
                                <div class="text-slate-400 px-4 text-lg">
                                    Vessels
                                </div>
            
                                <hr>

                                <ng-container *ngFor="let ship of shipMarkerData">
                                    <div class="text-slate-200 ">
                                        <div>
                                            {{ship?.name}}
                                        </div>
                                        <div class="text-slate-400">
                                            {{ship?.class}}
                                        </div>
                                        
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>

                        <ng-template #shipDetails>
                            <div class="pl-2 flex flex-col">
                                <div class="flex flex-row">
                                    <div class="self-center pr-3 pt-2">
                                        <mat-icon matListItemIcon [svgIcon]="getActiveShipIcon()" class="!fill-slate-200 scale-[200%]">
                                        </mat-icon>
                                    </div>
                                    
                                    <div class="pt-2">
                                        <div class="text-slate-200">
                                            {{activeShip?.name}}
                                        </div>
                                        <div class="text-slate-400">
                                            {{activeShip?.class}}
                                        </div>
                                    </div>

                                </div>
                                
                                <hr>

                                <mat-chip class="my-2 !bg-white !text-white self-center">{{activeShip?.battlegroup}}</mat-chip>

                                <div *ngIf="activeShip?.homeport">
                                    <span class="text-slate-200">Home Port</span>
                                    <div class="text-slate-400">
                                        {{activeShip?.homeport}}
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        
                    </mat-tab>
                    
                </mat-tab-group>

            
            
        </mat-drawer>

        <mat-drawer-content>
            <ng-container *ngTemplateOutlet="mapTemplate"></ng-container>
        </mat-drawer-content>


    </mat-drawer-container>
</div>


<ng-template #mapTemplate>
    <div class="map-container">
        <app-map-component [markerData]="shipMarkerData" [landmarkData]="landmarkMarkerData" (mapClickEmitter)="handleMapClick($event)" (landmarkClickEmitter)="handleLandmarkClick($event)"></app-map-component>
    </div>
</ng-template>

<ng-template #infoTemplate>

</ng-template>