<mat-drawer-container mode="over" hasBackdrop="false" autosize="true">
    <mat-drawer #drawer disableClose="true" opened="true" class="{{isExpanded ? '' : '!w-[64px]'}} transition-width ease-linear !bg-zinc-950">
        <div class="flex flex-row">
            <div class="flex flex-col space-y-4 items-center">
                <button mat-button (click)="displayInfo()" class="!text-slate-200">
                    <mat-icon matListItemIcon>info</mat-icon>
                </button>

                <button mat-button class="!text-slate-200">
                    <mat-icon matListItemIcon>flag</mat-icon>
                </button>

                <button mat-button class="!text-slate-200">
                    <mat-icon matListItemIcon svgIcon="station"></mat-icon>
                </button>

                <button mat-button class="!text-slate-200">
                    <mat-icon matListItemIcon>rocket_launch</mat-icon>
                </button>
                
                
            </div>

            <ng-container *ngIf="isExpanded">
                <div class="py-2 w-full">
                    <div class="px-4 text-slate-400 flex flex-col">
                        <div class="text-slate-200">
                            KHAYRADIN
                        </div>
                        <div>
                            KHAYRADIN//ANTARES-3
                        </div>
                        
                        <hr>
                        <div class="place-self-center">
                            <mat-chip-set>
                                <mat-chip class="!bg-white !text-white">Contested Space</mat-chip>
                            </mat-chip-set>
                        </div>
                        <div>
                            Registered Vessels
                        </div>
                        <hr>
                        <div>
                            <div class="text-xs text-slate-200">
                                Information
                            </div>
                            <div>
                                Khayradin is one of the largest known worlds suitable for human life, with a population of over 50 billion between its surface, orbital stations, and
                                moons.
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </ng-container>
        </div>
        
        
    </mat-drawer>

    <mat-drawer-content>
        <ng-container *ngTemplateOutlet="mapTemplate"></ng-container>
    </mat-drawer-content>


</mat-drawer-container>


<ng-template #mapTemplate>
    <div class="map-container">
        <app-map-component (mapClickEmitter)="handleMapClick($event)"></app-map-component>
    </div>
</ng-template>

<ng-template #infoTemplate>

</ng-template>