.html,body {
    height:100%
}

mat-sidenav {
    width: 100px;
}



:host ::ng-deep {
  .mat-mdc-tab-label-container { display: none; }
  .mat-mdc-tab-group {
    flex-direction: row;
  }
  .mat-mdc-tab-labels {
    flex-direction: column;
  }
  .mat-ink-bar {
    height: 100%;
    left: calc(100% - 2px) !important;
    width: 2px !important;
  }
  .mat-tab-header {
    border-bottom: none;
  }
  .mat-tab-body-wrapper {
    flex: 1 1 auto;
  }
  .mat-tab-header-pagination {
    display: none !important;
  }
  .mat-mdc-tab-body-wrapper{
    width: 100%;
  }

  .sidebar-pharos-buttons{
    border-radius:2px !important;
    width:min-content;
  }
}

  

